h4.text-center Health Care Reform Update for Your Groups with 50 or Fewer Employees
br
= render "home/embed", embed_id: "dyq8bf0edg"

h4
  a.green href="http://www.deltadentalva.com/SmallGroupPlansAdmins.aspx" Get more information on Delta Dental small group plans. 
h4
  a.green href="http://www.deltadentalva.com/contactus.aspx#sales" Contact your account representative. 