h4.text-center Health Care Reform Update for Individuals & Families 
br
= render "home/embed", embed_id: "94a1hea8kp"

h4
  a.green href="https://www.deltadentalcoversme.com/" Get more information on Delta Dental individual plans and enroll today! 