<% autoplay = false if autoplay.nil? %>
<div id="wistia_<%= embed_id %>" class="wistia_embed" style="width:640px;height:360px;"></div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
  wistiaEmbed = Wistia.embed("<%= embed_id %>", {
    videoFoam: true,
    autoPlay: <%= autoplay %>
  });
</script>