<div id="intro">
  <object type="application/x-shockwave-flash" data="/assets/intro.swf" id="main_banner" style="visibility: visible;"> 
    <param name="wmode" value="transparent">
  </object>
</div>
<script>
  var width = $("#intro").width();
  $("#intro object").css("width", width + "px");
  $("#intro object").css("height", width * 0.40 + "px");
</script>