<div id="intro">
  <div id="wistia_jgpp8ufjb9" class="wistia_embed" style="width:640px;height:252px;">&nbsp;</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
  wistiaEmbed = Wistia.embed("jgpp8ufjb9", {
    videoFoam: true,
    autoPlay: true,
    controlsVisibleOnLoad: false,
    volumeControl: false,
    playbar: false,
    fullscreenButton: false,
    smallPlayButton: false
  });

  wistiaEmbed.bind("secondchange", function (s) {
    if(s > 60) {
      wistiaEmbed.time(0);
      wistiaEmbed.play();
    }
  });
</script>
</div>