<div id="intro">
  <video width="100%" autoplay="autoplay" id="video">
    <source src="/assets/intro.mp4" type="video/mp4">
    <source src="/assets/intro.ogv" type="video/ogg">
    Your browser doesn't support the <code>video</code> element
  </video>
</div>

<script type="text/javascript">
  var myVideo = document.getElementById('video');
  myVideo.on('ended', function () {
    this.currentTime = 0;
    this.play();
  }, false);

  myVideo.play();
</script>