// Temporary workaround for Rails 4.1.2 pending releaase of bootstrap-sass 3.1.2
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"

// import the CSS framework
$container-lg: 1024px;

@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral

body {
  background-color: #ccc;
}

header {
  background: transparent url("/assets/header_bg.png") bottom;
  background-repeat: repeat-x;
  height: 203px;
  z-index: 101;
  position: relative;

  .logo {
    width: 290px;
    padding-top: 30px;
  }
}

.center {
  float: none;
  margin: 0 auto;
}

footer {
  background: transparent url("/assets/footer_bg.png");
  height: 253px;
  z-index: 101;
  position: relative;

  margin-top: -36px;
  padding-top: 40px;
  #links {
    padding: 20px;

    .link { 
      @extend .center;
      display: table;

      height: 70px;
      a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        color: #939598;
        font-size: 16px;
        cursor: pointer;

        span {
          display: block;
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: bold;
          line-height: 14px;
        }

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }

    .col-sm-4.active, .col-sm-4:hover {
      background-color: #6ac04b;
      
      a {
        color: white;
      }
    }
  }

  ul#socials {
    img {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}


#intro {
  position: relative;
  #video {
    width: 45%;
    height: auto;
    position: absolute;
    left: 52%;
    top: 40px;
    display: none;
  }
}
@media (max-width: $screen-md-max) {
  header {
    height: 203px;
  }

  footer a {
    font-size: 16px;
  }
}

@media (max-width: $screen-sm-max) {
  header {
    height: 160px;
  }

  footer a {
    font-size: 14px;
  }

  main {
    margin-top: -16px;
  }
}

@media (max-width: $screen-xs-max) {
  header {
    height: 120px;

    img {
      width: 70%;
    }
  }

  footer {
    margin-top: -20px;
    .link {
      height: 30px !important;

      a {
        font-size: 14px !important;

        span {
          display: inline-block !important;
        }
      }
    }

    #socials {
      float: right;
    }
  }

  main {
    margin-top: -13px;
  }

  .nav-tabs li {
    margin: 1px 0;
    width: 100% !important;
    a {
      font-size: 14px !important;
    }
  }

  #sub-content {
    margin: 20px 10px !important;
    .subtitle {
      font-size: 16px;
    }
  }
}

main {
  @extend .clearfix;
  z-index: 100;
  margin-top: -20px;
  position: relative;
  background-color: white;
}
section {
  @extend .row;
  margin-top: 20px;
}

// Styles for Devise views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
