#sub-content {
  margin: 40px 40px;
  padding-bottom: 40px;

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    color: #6d6e71;
    padding-left: 20px;
  }

  .video {
    width: 100%;
    height: 250px;
    background: #777;
  }

  .nav-tabs {
    border: none;
    margin-bottom: 30px;
    li {
      margin-top: 1px;
      width: 33%;
      a {
        padding: 7px;
        line-height: 18px;
        border: none;
        color: #939598;
        font-size: 16px;
        background: none;
        text-align: center;
      }

      &:hover, &.active {
        background: #6ac04b;

        a {
          color: white;
        }
      }
    }
  }

  #tab2 {
    ul {
      -webkit-padding-start: 20px;
    }
  } 
  #tab3 h4 {
    font-size: 20px;
  }
}

a.green {
  color: #6bc048;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.underline {
  text-decoration: underline;
  color: #6d6e71;
}

p.small {
  color: #6d6e71;
  font-size: 10px !important;
  line-height: 12px;
  margin-bottom: 3px;
}

h3.subtitle {
  margin-top: 0px;
  margin-bottom: 7px;
  text-align: center;
  color: #6d6e71;
}